In [2]:
import pandas as pd
import matplotlib.pyplot as plt

I. load_data()

In [3]:
referendum = pd.read_csv('data/referendum.csv', sep=';')
referendum = referendum[~referendum['Department code'].str.contains('Z')]

In [4]:
regions = pd.read_csv('data/regions.csv')
regions = regions.rename(columns={'code': 'code_reg', 'name':'name_reg'})
regions.drop(['id', 'slug'], axis=1, inplace=True)
regions = regions[regions['code_reg'].str.len()==2]
regions

   code_reg                    name_reg
0        01                  Guadeloupe
1        02                  Martinique
2        03                      Guyane
3        04                  La Réunion
4        06                     Mayotte
5        11               Île-de-France
6        24         Centre-Val de Loire
7        27     Bourgogne-Franche-Comté
8        28                   Normandie
9        32             Hauts-de-France
10       44                   Grand Est
11       52            Pays de la Loire
12       53                    Bretagne
13       75          Nouvelle-Aquitaine
14       76                   Occitanie
15       84        Auvergne-Rhône-Alpes
16       93  Provence-Alpes-Côte d'Azur
17       94                       Corse

In [5]:
departments = pd.read_csv('data/departments.csv')
departments = departments.rename(columns={'region_code':'code_reg', 'code':'code_dep', 'name':'name_dep'})
departments.drop(['id', 'slug'], axis=1, inplace=True)
departments = departments[departments['code_dep'].str.len() == 2]
departments

   code_reg code_dep                 name_dep
0        84       01                      Ain
1        32       02                    Aisne
2        84       03                   Allier
3        93       04  Alpes-de-Haute-Provence
4        93       05             Hautes-Alpes
..      ...      ...                      ...
91       11       91                  Essonne
92       11       92           Hauts-de-Seine
93       11       93        Seine-Saint-Denis
94       11       94             Val-de-Marne
95       11       95               Val-d'Oise

[96 rows x 3 columns]

II. Merge regions et deps

In [6]:
merged = pd.merge(departments, regions, on='code_reg', how='left')
merged.head()

  code_reg code_dep                 name_dep                    name_reg
0       84       01                      Ain        Auvergne-Rhône-Alpes
1       32       02                    Aisne             Hauts-de-France
2       84       03                   Allier        Auvergne-Rhône-Alpes
3       93       04  Alpes-de-Haute-Provence  Provence-Alpes-Côte d'Azur
4       93       05             Hautes-Alpes  Provence-Alpes-Côte d'Azur

III. Merge referendum and areas
    
    """Merge referendum and regions_and_departments in one DataFrame.

    You can drop the lines relative to DOM-TOM-COM departments, and the
    french living abroad.
    """

In [7]:
referendum['Department code'] = referendum['Department code'].str.zfill(2)

In [8]:
merged2 = pd.merge(referendum, merged, left_on='Department code', right_on='code_dep')

IV. 

    """Return a table with the absolute count for each region.

    The return DataFrame should be indexed by `code_reg` and have columns:
    ['name_reg', 'Registered', 'Abstentions', 'Null', 'Choice A', 'Choice B']
    """

In [24]:
merged2[['name_reg', 'Registered', 'Abstentions', 'Null', 'Choice A', 'Choice B','code_reg']].groupby(["code_reg", "name_reg"],as_index=False).sum().set_index('code_reg')

,name_reg,Registered,Abstentions,Null,Choice A,Choice B
code_reg,,,,,,
11,Île-de-France,6942361,1515884,85997,2536620,2803860
24,Centre-Val de Loire,1801366,326560,28827,590890,855089
27,Bourgogne-Franche-Comté,1997925,358321,33671,668246,937687
28,Normandie,2372779,426075,35513,816972,1094219
32,Hauts-de-France,4210444,866555,60601,1411257,1872031
44,Grand Est,3857089,783348,56951,1088684,1928106
52,Pays de la Loire,2605438,412509,47677,922468,1222784
53,Bretagne,2380594,364724,36077,944052,1035741
75,Nouvelle-Aquitaine,4201774,711017,71629,1641249,1777879
76,Occitanie,4008516,660914,62732,1528980,1755890
84,Auvergne-Rhône-Alpes,5227873,909284,81817,1791857,2444915
93,Provence-Alpes-Côte d'Azur,3436084,666729,44706,998439,1726210
94,Corse,220349,56696,2921,60917,99815

In [21]:
import geopandas

ModuleNotFoundError: No module named 'geopandas'