In [47]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt


def load_data():
    """Load data from the CSV files referundum/regions/departments."""
    referendum = pd.read_csv('data/referendum.csv', sep=';')
    regions = pd.read_csv('data/regions.csv')
    departments = pd.read_csv('data/departments.csv')
    return referendum, regions, departments


def merge_regions_and_departments(regions, departments):
    """Merge regions and departments in one DataFrame.

    The columns in the final DataFrame should be:
    ['code_reg', 'name_reg', 'code_dep', 'name_dep']
    """
    df = pd.merge(regions[['code', 'name']],
                                       departments[['region_code', 'code',
                                                    'name']],
                                       left_on=['code'],
                                       right_on=['region_code'], how='left',
                                       suffixes=('_reg', '_dep')).drop(
                                           ['region_code'], axis=1)
    return df

In [48]:
referendum, regions, departments = load_data()

In [56]:
referendum.tail(10)

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
36781,ZZ,FRANCAIS DE L'ETRANGER,2,Amérique latine,73912,52648,363,9456,11445
36782,ZZ,FRANCAIS DE L'ETRANGER,3,Europe du Nord,88133,59723,269,13414,14727
36783,ZZ,FRANCAIS DE L'ETRANGER,4,Benelux,95182,46980,432,20274,27496
36784,ZZ,FRANCAIS DE L'ETRANGER,5,Péninsule ibérique et Monaco,80761,53215,305,11856,15385
36785,ZZ,FRANCAIS DE L'ETRANGER,6,Suisse,79508,29458,514,16971,32565
36786,ZZ,FRANCAIS DE L'ETRANGER,7,Europe centrale,89643,54981,318,17055,17289
36787,ZZ,FRANCAIS DE L'ETRANGER,8,"Europe du Sud, Turquie, Israël",109763,84466,292,9299,15706
36788,ZZ,FRANCAIS DE L'ETRANGER,9,Afrique Nord-Ouest,98997,59887,321,22116,16673
36789,ZZ,FRANCAIS DE L'ETRANGER,10,"Afrique Centre, Sud et Est",89859,46782,566,17008,25503
36790,ZZ,FRANCAIS DE L'ETRANGER,11,"Europe de l'est, Asie, Océanie",80061,42911,488,13975,22687

In [59]:
regions_and_departments = merge_regions_and_departments(regions, departments)

In [57]:
def merge_referendum_and_areas(referendum, regions_and_departments):
    """Merge referendum and regions_and_departments in one DataFrame.
    You can drop the lines relative to DOM-TOM-COM departments, and the
    french living abroad.
    """
    rd = regions_and_departments
    referendum = referendum
    rd = rd[rd['code_dep'].str.len() <= 2]

    df = pd.merge(referendum, regions_and_departments,
                                    left_on=['Department code'],
                                    right_on=['code_dep'],
                                    how='left').dropna()
    return df

In [61]:
merge_referendum_and_areas(referendum, regions_and_departments)

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B,code_reg,name_reg,code_dep,name_dep
3229,10,AUBE,2,Ailleville,207,36,1,71,99,44,Grand Est,10,Aube
3230,10,AUBE,3,Aix-en-Othe,1768,286,30,578,874,44,Grand Est,10,Aube
3231,10,AUBE,4,Allibaudières,187,60,3,31,93,44,Grand Est,10,Aube
3232,10,AUBE,5,Amance,223,39,4,39,141,44,Grand Est,10,Aube
3233,10,AUBE,6,Arcis-sur-Aube,1887,385,29,500,973,44,Grand Est,10,Aube
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36560,95,VAL D'OISE,676,Villers-en-Arthies,382,64,5,87,226,11,Île-de-France,95,Val-d'Oise
36561,95,VAL D'OISE,678,Villiers-Adam,595,71,4,191,329,11,Île-de-France,95,Val-d'Oise
36562,95,VAL D'OISE,680,Villiers-le-Bel,13269,4083,224,5546,3416,11,Île-de-France,95,Val-d'Oise
36563,95,VAL D'OISE,682,Villiers-le-Sec,95,11,0,40,44,11,Île-de-France,95,Val-d'Oise
36564,95,VAL D'OISE,690,Wy-dit-Joli-Village,279,30,1,83,165,11,Île-de-France,95,Val-d'Oise